* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto-Bold.ttf);
}

body {
  background-color: #36384d;
  height: 100vh;
  align-content: center;
}

.mainContainer {
  display: flex;
  height: 60%;
  width: 40%;
  border-radius: 36px;
  background-color: white;
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.29);
  justify-self: center;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.mainImage {
  max-width: fit-content;
  max-height: fit-content;
  height: 91%;
  order: 2;
}

.textContainer {
  display: flex;
  width: 40%;
  height: 70%;
  flex-direction: column;
  gap: 20px;
}

.titleText {
  font-family: Roboto-Bold;
  font-weight: 700;
  font-size: 42px;
  color: #242742;
}

.regularText {
  font-family: Roboto;
  color: #242742;
  font-size: 13px;
  z-index: 2;
}

.bullet {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: row;
  gap: 10px;
}

.bulletText {
  font-family: Roboto;
  color: #242742;
  display: inline;
  font-size: 13px;
}

input[type="email"] {
  border: 1px solid rgba(25, 24, 43, 0.25);
  font-family: Roboto;
  border-radius: 8px;
  padding-left: 15px;
  width: 100%;
  height: 56px;
}

.hrefButton {
  display: block;
  font-family: Roboto;
  background-color: #242742;
  height: 56px;
  width: 100%;
  color: white;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

input,
label {
  display: inline-block;
}

.mobileMainContainer {
  flex-direction: column;
  display: none;
}

.mobileImage {
  display: none;
  width: 100%;
  max-height: fit-content;
}

form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

label {
  font-family: Roboto-Bold;
  font-size: 10px;
}

.hrefButton:hover {
  background-color: #ff527b;
  box-shadow: 0px 16px 32px rgba(#ff615580, 0.5);
}

@media (max-width: 1469px) {
  .mobileMainContainer {
    display: none;
  }
  .mainContainer {
    height: 51%;
  }

  .textContainer {
    gap: 10px;
  }

  .titleText {
    font-size: 30px;
  }
}

@media (max-width: 1279px) {
  .mobileMainContainer {
    display: none;
  }
  .mainContainer {
    height: 44%;
  }

  .textContainer {
    gap: 10px;
  }

  .mainImage {
    height: 86%;
  }

  .regularText {
    font-size: 10px;
  }

  .bulletText {
    font-size: 9px;
  }

  .titleText {
    font-size: 30px;
  }

  input[type="Email"] {
    height: 45px;
  }

  .hrefButton {
    height: 45px;
  }
}

@media (max-width: 769px) {
  .mobileMainContainer {
    display: none;
  }
  .mainContainer {
    height: 44%;
    width: 60%;
  }

  .textContainer {
    gap: 10px;
  }

  .mainImage {
    height: 75%;
  }

  .regularText {
    font-size: 8px;
  }

  .bulletText {
    font-size: 9px;
  }

  .titleText {
    font-size: 25px;
  }

  input[type="Email"] {
    height: 45px;
  }

  .hrefButton {
    height: 45px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    display: none;
  }

  .textContainer {
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 40%;
    gap: 20px;
  }

  .bulletText {
    font-size: 20px;
  }

  .bullet {
    width: 80%;
  }

  .titleText {
    font-size: 40px;
  }

  .mobileMainContainer {
    display: flex;
    gap: 50px;
  }

  .mobileImage {
    display: block;
  }

  .regularText {
    font-size: 15px;
  }

  form {
    gap: 15px;
  }

  body {
    background-color: white;
    display: inline;
  }
}
